<h1>Listing games</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Start time</th>
    <th>Duration</th>
    <th>Team 1 score</th>
    <th>Team 2 score</th>
    <th>Return location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games.each do |game| %>
  <tr>
    <td><%= game.status %></td>
    <td><%= game.start_time %></td>
    <td><%= game.duration %></td>
    <td><%= game.team_1_score %></td>
    <td><%= game.team_2_score %></td>
    <td><%= game.return_location %></td>
    <td><%= link_to 'Show', game %></td>
    <td><%= link_to 'Edit', edit_game_path(game) %></td>
    <td><%= link_to 'Destroy', game, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Game', new_game_path %>
