<!DOCTYPE html>
<html>
<head>
  <title>WaKeyPress</title>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "jquery-1.5.2.min" %>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container wa-client alert-success round">
    	<div id="WACanvas"style="height: auto; width: 100%;"> 
    	    <noscript>
    	        Javascript is required to experience web.alive. Please enable javascript support in your browser and refresh
    	    </noscript>
    	</div>
        <%= yield %>	
    </div>
	<script type="text/javascript" src="http://wa3530.avayalive.com/3530/html/javascript/WAInit.js"></script> 
    <script language="JavaScript">	
        $('#WACanvas').height($('#WACanvas').width() /2);
        $('.team').height($('#WACanvas').width() /2);
        $('#WACanvas').width($('#WACanvas').width());  
        WAUrlVars = {
    	    "XResolution":  $('#WACanvas').width() ,
    		"YResolution": $('#WACanvas').height(),
    	    "Language":"en","GenericParam": "?ReqAnonConn=false", "URLOverwriteAllowed": "true"
    	}
    	WAStart();
    	$('iframe').height($('#WACanvas').width() /2);
        $('iframe').width($('#WACanvas').width());
        $("#WACanvas").css("background-color", "#DFF0D8");
        $("#WACanvas").css("background-image", "");
    </script>
</body>
</html>
