<!DOCTYPE html>
<html>
<head>
  <title>WaKeyPress</title>
  <%= stylesheet_link_tag "bootstrap.min" %>
  <%= stylesheet_link_tag "jquery.fileupload-ui" %>
  <%= stylesheet_link_tag "application" %>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.10/jquery-ui.min.js"></script>
  <%= javascript_include_tag "date" %>
  <%= javascript_include_tag "jquery.ui.widget" %>
  <%= javascript_include_tag "jquery.iframe-transport" %>
  <%= javascript_include_tag "jquery.fileupload" %>
  <%= javascript_include_tag "carousel" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container wa-client alert-success round">
        <h1 id="yourteam"></h1>
    	<div id="WACanvas"style="height: auto; width: 100%;"> 
    	    <noscript>
    	        Javascript is required to experience web.alive. Please enable javascript support in your browser and refresh
    	    </noscript>
    	</div>
    	 <%= yield %>	
    </div>

	<script type="text/javascript" src="http://wa3530.avayalive.com/3530/html/javascript/WAInit.js"></script> 
    <script language="JavaScript">	
        $('#WACanvas').height($('#WACanvas').width() /2);
        //$('.team').height($('#WACanvas').width() /2 + 60);
        $('#WACanvas').width($('#WACanvas').width());  
        WAUrlVars = {
    	    "XResolution":  $('#WACanvas').width() ,
    		"YResolution": $('#WACanvas').height(),
    	    "Language":"en","GenericParam": "?ReqAnonConn=false", "URLOverwriteAllowed": "true"
    	}
    	WAStart();
    	$('iframe').height($('#WACanvas').width() /2);
        $('iframe').width($('#WACanvas').width());
        $("#WACanvas").css("background-color", "#DFF0D8");
        $("#WACanvas").css("background-image", "");
    </script>
</body>
</html>
